@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    font-family: "Rubik", sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.gap-8 {
    display: flex;
    gap: 8px;
}

/*
header a {
    font-size: 16px;
    color: black;
}

nav {
    width: max-content;
}
*/

.blanc {
    color: #FFFFFF;
}

.centrer {
    text-align: center;
}

.section-hero {
    width: 1280px;
    height: 100vh;
    /* 100% de la hauteur de l'écran */
    background-image: url(asset/bg-image-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fond2 {
    width: 1283px;
    height: 100vh;
    background-image: url(asset/bg-image-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

/*
nav a {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
*/

/* Texte */
a {
    text-decoration: none;
    color: black;
    /* font-size: 16px; */
}

.black {
    color: black;
}

/* Taille */

.w-40 {
    width: 40px;
}

/*
#menu a {
    letter-spacing: 0.2rem;
}

#menu li {
    display: inline-block;
    padding: 0 1rem;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}
*/

.taille {
    font-size: 36px;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 14px;
}

.paragraphe {
    width: 307px;
    height: 213px;
}

.paragraphes {
    width: 315px;
    height: 161px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.container-1200{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.padding {
    padding: 2rem;
}

.relative {
    position: relative;
    top: -150px;
}

.position {
    position: relative;
    left: 260px;
}

.bouton {
    border-radius: 5px;
    background-color: #353434;
    padding: 9px 20px;
    color: white;
    display: inline-block;
}

.btn {
    border-radius: 5px;
    background-color: white;
    padding: 9px 20px;
    color: black;
    display: inline-block;
    position: relative;
    top: 80px;
}

.bouton_deux {
    border-radius: 5px;
    background-color: #353434;
    color: white;
    padding: 9px 20px;
    display: inline-block;
    position: absolute;
    top: 120px;
}

.lumière {
    width: 832px;
    height: 521px;
}

.architecture {
    width: 350px;
    height: 525px;
}

.marges {
    margin-inline: 200px 200px;
}

footer {
    width: 1280px;
    height: 183px;
    background-color: #353434;
    text-align: center;
    color: white;
    padding: 1rem 0 1rem 0;
}

.mt-50{
    margin-top: 50px;
}

.mt-10{
    margin-top: 10px;
}